* {
  padding:0;
  margin:0;
}

:root {
  --salmon: #FA8072;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
  width:100%;
}
textarea:focus-visible {
  outline:none;
}

.jumbotron {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid var(--salmon);
}

.tableContainer {
  padding: 20px;
}

table {
  margin-left: auto;
  margin-right:auto;
}


.tdInput {
  width: 80%;
}

.timeOfDay {
  padding-right: 10px;
}



/* .description {
  white-space: pre-wrap;
} */

/* .time-block {
  text-align: center;
  border-radius: 15px;
} */

/* .row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
} */

/* .hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
} */

.past {
  background-color: #FA807270;
  color: white;
}

.present {
  background-color: #FA807250;
  color: white;
}

.future {
  background-color: #FA807230;
  border: 2px solid white;
  color: white;
}

/* .saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */

/* ---------------*/
button {
  background-color:transparent;
  border: none;
  color:white;
}

.far {
  font-size: 25px;
  background-color: var(--salmon);
  color: white;
  padding: 15px;
  border-radius: 50%;
  margin: 10px 0 10px 10px;
}
.far:hover {
  background-color: #FA807280;
}